# Environment variables
PORT = 8000
DATABASE_URL = "your_connection_string_here"
APP_URL = http://localhost:3000

# Auth
BCRYPT_SALT_ROUNDS = 10
JWT_ACCESS_SECRET = your_access_secret_key_here
JWT_REFRESH_SECRET = your_refresh_secret_key_here
JWT_ACCESS_EXPIRES_IN = 1h
JWT_REFRESH_EXPIRES_IN = 7d

# Stripe
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret

# SSLCommerz (optional)
SSLCOMMERZ_STORE_ID=your_store_id
SSLCOMMERZ_STORE_PASS=your_store_password
